html{
    height:100%;
    background-color:#61a493 ;
    background-repeat:no-repeat ;
    background-size:auto;
    font:20px "Noto Sans KR Medium",Arial;
}

.item-checked{
    color: #a9210b;
    text-decoration: line-through;
}

.main{display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin:auto;
}

h1{
    color:#ffffff;
    text-align: center;
    font:2em "Intro Inline","Noto Sans KR Medium";
}

.form{
    background:#ff9e50;
    padding: 10px;
    padding-left: 20px;
}

input[type="text"]{
    color:#000000;
    width:300px;
    height:20px;

}

button{
    color:#a9210b;
    height: 20px;
    border: none;
}

.tasksBoard{
    background-color: lemonchiffon;
    margin-top: 20px;

}

ul{
    line-height:2.5em;
}

li{
    border-bottom: 1px solid #ff9e50;
    padding:10px 0px 0px 10px;
    font-size: 15px;
    color: #000000;
}

a{
    float: right;
    color: #a9210b;
    font-size:1.5em;
    padding:0px 10px 10px 0px;
    cursor: pointer;
}

.delete{
    padding: 0px 3px 0px 3px;
    border:solid gray 1px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .main{
        margin: auto;
        width: 100%;
    }
    input[type="text"]{
        width: 80%;
    }
    button{
        width: 10%;
    }
}
